In [132]:
import numpy as np
import pandas as pd
import math

In [133]:
df = pd.read_csv('TestScores.csv')
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [134]:
def gradientDescent(x, y):
	m_curr = b_curr = 0
	iterations = 1000000
	n = len(x)
	learning_rate = .0002
	cost_previous = 0
	
	for i in range(iterations):
		y_predicted = m_curr * x + b_curr
		cost = (1 / n) * sum([val**2 for val in (y - y_predicted)])
		md = -(2 / n) * sum(x * (y - y_predicted))
		bd = -(2 / n) * sum(y - y_predicted)
		m_curr = m_curr - learning_rate * md
		b_curr = b_curr - learning_rate * bd
		if math.isclose(cost, cost_previous, rel_tol = 1e-20):
			break
		print("m {}, b {}, cost {}, iteration {}".format(m_curr, b_curr, cost, i))

In [135]:
x = np.array(df['math'].tolist())
y = np.array(df['cs'].tolist())

In [ ]:
gradientDescent(x, y)